<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RhinoStableDiffuison.Usersetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RhinoStableDiffuison.Usersetting>
            <setting name="IsCNOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imagepath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="ControlNetModel" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlNetModel1" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlNetModel2" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlNetModel3" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="weight1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="payloadsave" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeModel" serializeAs="String">
                <value />
            </setting>
            <setting name="GetProcessimg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPaddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>7860</value>
            </setting>
        </RhinoStableDiffuison.Usersetting>
    </userSettings>
</configuration>